body{
    margin: 0;
    background-color: rgb(214, 195, 255);
}

h1{
    font-family: 'Playpen Sans', cursive;
    font-size: 50px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.items{
    margin-top: 5%;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns:  200px 200px  ;
    grid-template-rows:  200px 200px ;
    gap: 50px;
}

button{
    width: 200px;
    height: 200px;
}

#b1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
}

#b2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}

#b3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;
}

#b4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
}

h6{
    font-family: 'Playpen Sans', cursive;
    font-size: large;
    text-align: center;
    padding-top: 3%;
}
